<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <http>
        <csrf disabled="true"/>
        <!--<intercept-url pattern="/test/**" access="hasRole('ADMIN')" requires-channel="https"/>-->
        <!--<intercept-url pattern="/test/**" access="hasRole('ADMIN')"/>-->
        <!--<intercept-url pattern="/**" access="permitAll"/>-->
        <!-- 可以通过匿名方式访问login.jsp页面-->
        <intercept-url pattern="/login.jsp*" access="isAnonymous()"/>
        <intercept-url pattern="/login_failure.html*" access="isAnonymous()"/>
        <!-- 所以页面都需要USER角色才可以访问-->
        <intercept-url pattern="/**" access="hasRole('USER')"/>
        <form-login login-page="/login.jsp" default-target-url='/index.html' always-use-default-target='true' authentication-failure-url="/login_failure.html"/>
        <!-- 指定checkbox的name为 remember-me，7天后登录过期 -->
        <remember-me data-source-ref="dataSource" remember-me-parameter="remember-me" token-validity-seconds="604800"/>
        <logout invalidate-session="true" logout-success-url="/login.jsp" logout-url="/logout"/>
        <!-- session过期后跳转的页面-->
        <session-management invalid-session-url="/index.html" session-fixation-protection="newSession">
            <!-- 只能在一处登录（下次登录将导致上次登录失效）-->
            <concurrency-control max-sessions="1"/>
        </session-management>
    </http>

    <global-method-security pre-post-annotations="enabled">
        <!-- com.hong.worldma.service.wx包下面所以以Service结尾的类中的方法都需要ADMIN角色才能访问（在父子线程中需要配置下面的MethodInvokingFactoryBean  bean）-->
        <protect-pointcut expression="execution(* com.hong.worldma.service.wx.*Service.*(..))" access="ROLE_ADMIN"/>
    </global-method-security>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <!--<password-encoder hash="md5">-->
            <!--<salt-source system-wide="t8udr3Sw*s+_pREMu3"/>-->
            <!--</password-encoder>-->
        </authentication-provider>
    </authentication-manager>

    <!-- 通过JdbcDaoImpl从数据库中获取用户信息-->
    <beans:bean id="userDetailsService"
                class="com.hong.worldma.service.wm.CustomJdbcDaoImpl">
        <beans:property name="dataSource" ref="dataSource"/>
        <beans:property name="usernameBasedPrimaryKey" value="false"/>
        <!-- 自定义用户信息查询语句-->
        <!--<beans:property name="usersByUsernameQuery" value="select user_number,password,enabled from worldma_users where user_number = ?"/>-->
        <!-- 自定义用户角色信息查询语句-->
        <!--<beans:property name="authoritiesByUsernameQuery" value="select user_number,authority from authorities where user_number = ?"/>-->
    </beans:bean>

    <!--<beans:bean id="messageSource"-->
          <!--class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
        <!--&lt;!&ndash; Spring Security 异常信息国际化&ndash;&gt;-->
        <!--<beans:property name="basename" value="classpath:org/springframework/security/messages_zh_CN"/>-->
    <!--</beans:bean>-->

    <!-- SecurityContextHolder默认是使用ThreadLocal方式存储SecurityContext，此处将它设置成MODE_INHERITABLETHREADLOCAL（用于线程有父子关系的情境中），不然wx.*Service类中的方法无法获得SecurityContext-->
    <beans:bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <beans:property name="targetClass" value="org.springframework.security.core.context.SecurityContextHolder" />
        <beans:property name="targetMethod" value="setStrategyName" />
        <beans:property name="arguments" value="MODE_INHERITABLETHREADLOCAL" />
    </beans:bean>


    <!--<beans:bean id="accessDeniedHandlerImpl" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">-->
        <!--<beans:property name="errorPage" value="/views/403.html"/>-->
    <!--</beans:bean>-->
</beans:beans>