<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World码</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 30px">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/img/user.svg" alt="...">
                <div class="caption text-center">
                    <h3>用户信息</h3>
                    <p><a href="#" class="btn btn-primary" role="button">查看</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/img/ActivityMsg.svg" alt="...">
                <div class="caption text-center">
                    <h3>活动消息</h3>
                    <p></p>
                    <p><a id="ActivityMsg" class="btn btn-primary" role="button">添加</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/img/sed.svg" alt="...">
                <div class="caption text-center">
                    <h3>发送情况</h3>
                    <p><a href="#" class="btn btn-primary" role="button">查看</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/img/statistics.svg" alt="...">
                <div class="caption text-center">
                    <h3>信息统计</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-primary" role="button">查看</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="thumbnail">
                <img src="/img/site.svg" alt="...">
                <div class="caption text-center">
                    <h3>设置</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-primary" role="button">设置</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="thumbnail">
                <img src="/img/about.svg" alt="...">
                <div class="caption text-center">
                    <h3>关于World码</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-primary" role="button">查看</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var h = window.location.host;
    $("#ActivityMsg").attr("href","http://"+ h +"/wm/add_activityMsg");
</script>
</body>
</html>